<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

  <Properties>
    <Property name="LOG_DIR">logs</Property>
    <Property name="ARCHIVE">${LOG_DIR}/archive</Property>
    <Property name="PATTERN">%-5level %d{ISO8601} [%t] %c:%M(%L): %m%n</Property>
  </Properties>

  <Appenders>
    <RollingFile name="LogFile" fileName="${LOG_DIR}/LogFile.log"
      filePattern="${ARCHIVE}/LogFile.log.%d{yyyy-MM-dd-hh-mm}.zip">
      <PatternLayout pattern="${PATTERN}"/>
      <Policies>
        <!--<TimeBasedTriggeringPolicy />-->
        <SizeBasedTriggeringPolicy size="750 KB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${PATTERN}"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="all">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="LogFile"/>
    </Root>
    <!--<Logger name="com.roxoft.io.InitialSystemPrinter" level="info" additivity="false">
      <AppenderRef ref="LogFile"/>
      <AppenderRef ref="Console"/>
    </Logger>-->
  </Loggers>

</Configuration>
