<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers">

	<resultMap id="PersonResultMap" type="Person">
		<result column="name" property="name"/>
		<result column="surname" property="surname"/>
	</resultMap>

	<select id="getAllPersons" resultMap="PersonResultMap">
		select * from persons
	</select>

	<insert id="insertPerson">
  	INSERT IGNORE INTO persons (name, surname)	VALUES (#{name}, #{surname})
	</insert>

	<insert id="insertPersons">
  	INSERT IGNORE INTO persons (name, surname)	VALUES
			<foreach item="item" collection="list" separator=",">
    		(#{item.name}, #{item.surname})
  		</foreach>
	</insert>

</mapper>
